tmux/.tmux/plugins/*

vim-old/backup
vim-old/swap
vim-old/undo
vim-old/.vim/plugged
vim-old/.vim/autoload
vim-old/.viminfo
vim-old/.viminfo.*

nvim-old/undodir
nvim-old/.vim/plugged
nvim-old/.vim/autoload
nvim-old/.vim/db
nvim-old/.viminfo
nvim-old/.viminfo.*

nvim/lua/undodir/*

nvim-lua

zsh/.oh-my-zsh
