tmux/.tmux/plugins/*

vim/backup
vim/swap
vim/undo
vim/.vim/plugged
vim/.vim/autoload
vim/.viminfo
vim/.viminfo.*

nvim/undodir
nvim/.vim/plugged
nvim/.vim/autoload
nvim/.vim/db
nvim/.viminfo
nvim/.viminfo.*

zsh/.oh-my-zsh
